/hello_rust/target
/palindrome_checker/target
/sum_of_digits_finder/target
/array_operations/target
/prime_finder/target
/temperature_finder/target
/stock_price_tracker/target
/simple_calculator/target
/guessing_game/target
/file_word_counter/target
/bmi_calculator/target
/palindrome_checker_two/target
/fibonacci_sequence/target
/prime_number_checker/target
/todo_list/target
/basic_timer/target
/rock_paper_scissors/target